{% macro render_choices(formfield) %}
    {% for part in formfield %}
        {% for field in part %}
                <span class="pt-2 ml-3">{{field.label}}</span>
                {{ field(**kwargs)|safe }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="alert alert-warning">{{ error }}</div>
                    {% endfor %}
                {% endif %}
        {% endfor %}
    {% endfor %}
{% endmacro %}

{{render_choices(form.c_projects, class_="form-control")}}