<footer class="navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
          <span class="text-muted text-center">Copyright (C) 2017  R.H.J. Vedder rolf.vedder@gmail.com</span>
      </div>
</footer>