{% macro render_field(field) %}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    {% for error in field.errors %}
        <span class="help-inline">{{ error }}</span>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro render_editor(field) %}
  {{field.label}}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    {% for error in field.errors %}
        <span class="help-inline">{{ error }}</span>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro render_names(formfield) %}
    {% for part in formfield %}
        {% for field in part %}
            <div id="member_name1" class="pt-2">
                <span class="ml-3">{{ field.label }}</span>
                {{ field(label=None, **kwargs)|safe }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="alert alert-warning">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
{% endmacro %}