<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="/">Minor Project Decision</a>
                    </div>
                    <div class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                        <li><a href="/division">Division of Projects</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              {% if not session.logged_in %}
                              <li><a href="/login">Login</a></li>
                              <li role="separator" class="divider"></li>
                              {% endif %}
                            <li class="dropdown-header">Information</li>
                            <li><a href="https://bitbucket.org/rhjvedder/minor_project_decision">Visit the Repository</a></li>
                          </ul>
                        </li>
                      </ul>
                      {% if session.logged_in %}
                      <ul class="nav navbar-nav navbar_right pull-right">
                          <li><a href="/dashboard">Dashboard</a></li>
                          <li><a href="/logout">Logout</a></li>
                      </ul>
                      {% endif %}
                    </div><!--/.nav-collapse -->
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
        </div>
    </div>
</nav>

