{% macro render_teams(team) %}
        <table class="table">
            <thead>
                <tr>
                    <th>Team {{team.n}}</th>
                    <th>
                        <div class="btn-group ml-3 pull-right d-inline" role="group">
                            <button type="button" href=#{{team.id_}} class="btn btn-primary btn-xs" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down"></span></button>
                            <button type="button" id="delete_{{team.id_}}" class="btn btn-danger delete-team btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody id="{{team.id_}}" class="collapse in">
            {% for member in team.members %}
                <tr>
                    <td>{{member}}</td>
                    <td> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endmacro %}