.pn-0 {
    display-block;
}

.pt-1 {
	padding-top: 1px;
}

.pt-2 {
	padding-top: 2px;
}

.pt-3 {
	padding-top: 3px;
}

.pt-4 {
	padding-top: 4px;
}

.pt-60 {
    padding-top: 60px;
}

.pb-1 {
	padding-bottom: 1px;
}

.pb-2 {
	padding-bottom: 2px;
}

.pb-3 {
	padding-bottom: 3px;
}

.pb-4 {
	padding-bottom: 4px;
}

.pl-1 {
	padding-left: 1px;
}

.pl-2 {
	padding-left: 2px;
}

.pl-3 {
	padding-left: 3px;
}

.pl-4 {
	padding-left: 4px;
}

.pr-1 {
	padding-right: 1px;
}

.pr-2 {
	padding-right: 2px;
}

.pr-3 {
	padding-right: 3px;
}

.pr-4 {
	padding-right: 4px;
}

.px-1 {
	padding-left: 1px;
	padding-right: 1px;
}

.px-2 {
	padding-left: 2px;
	padding-right: 2px;
}

.px-3 {
	padding-left: 3px;
	padding-right: 3px;
}

.px-4 {
	padding-left: 4px;
	padding-right: 4px;
}

.py-1 {
	padding-top: 1px;
	padding-bottom: 1px;
}

.py-2 {
	padding-top: 2px;
	padding-bottom: 2px;
}

.py-3 {
	padding-top: 3px;
	padding-bottom: 3px;
}

.py-4 {
	padding-top: 4px;
	padding-bottom: 4px;
}

.mt-1 {
	margin-top: 1px;
}

.mt-2 {
	margin-top: 2px;
}

.mt-3 {
	margin-top: 3px;
}

.mt-4 {
	margin-top: 4px;
}

.mb-1 {
	margin-bottom: 1px;
}

.mb-2 {
	margin-bottom: 2px;
}

.mb-3 {
	margin-bottom: 3px;
}

.mb-4 {
	margin-bottom: 4px;
}

.ml-1 {
	margin-left: 1px;
}

.ml-2 {
	margin-left: 2px;
}

.ml-3 {
	margin-left: 3px;
}

.ml-4 {
	margin-left: 4px;
}

.mr-1 {
	margin-right: 1px;
}

.mr-2 {
	margin-right: 2px;
}

.mr-3 {
	margin-right: 3px;
}

.mr-4 {
	margin-right: 4px;
}

.mx-1 {
	margin-left: 1px;
	margin-right: 1px;
}

.mx-2 {
	margin-left: 2px;
	margin-right: 2px;
}

.mx-3 {
	margin-left: 3px;
	margin-right: 3px;
}

.mx-4 {
	margin-left: 4px;
	margin-right: 4px;
}

.my-1 {
	margin-top: 1px;
	margin-bottom: 1px;
}

.my-2 {
	margin-top: 2px;
	margin-bottom: 2px;
}

.my-3 {
	margin-top: 3px;
	margin-bottom: 3px;
}

.my-4 {
	margin-top: 4px;
	margin-bottom: 4px;
}