{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
{% endblock %}
{% block body %}
        <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10">
                <h4>Add a Project</h4>
                <hr>
                <form class="form-signin" method="POST", action="">
                    <div class="form-group">
                        {% from "includes/_formhelpers.html" import render_editor %}
                        {{render_editor(form.title, class_="form-control pb-3")}}
                        <br/>
                        {{render_editor(form.body, class_="form-control", id="editor")}}
                        {% include 'includes/_messages.html' %}
                        <div class="btn-group py-3 mr-3 pull-right" role="group">
                            <button type="submit" class="btn btn-primary" id="submit-btn"><span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
        </div>
    </div>
{% endblock %}
{% block scrpt %}
        <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
        <script type="text/javascript">
            CKEDITOR.replace('editor')
        </script>
{% endblock%}
