{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <h1 class="ml-3"><small> Welcome {{ session.username }}</small></h1>
            <a type="button" class="btn btn-success pull-right" href="/add_project"><span class="glyphicon glyphicon-plus"></span></a>
            <h4 class="ml-3">Projects</h4>
            <hr>
            {% for project in projects %}
            <div class="project_cont">
                <div class="btn-group ml-3 pull-right d-inline" role="group">
                    <button type="button" href=#project_{{project.id_}} class="btn btn-primary" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down"></span></button>
                    <button type="button" id="delete_{{project.id_}}" class="btn btn-danger delete"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <div class="well d-inline">
                    <h5 class="d-inline">{{project.title}}</h5>
                    <p id=project_{{project.id_}} class="collapse">{{project.body}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
            <div class="pt-60">
                <h4 class="ml-3">Teams</h4>
                <hr>
                <div class="status"></div>
                {% from "includes/_teams_dash.html" import render_teams, render_team %}
                {% for team in teams %}
                    {{ render_teams(team) }}
                {% endfor %}
                <hr>
                <div>
                    <h5 class="pull-left ml-3 d-inline">Start dividing the Projects</h5>
                    <button type="button" id="divider_of_projects" class="btn btn-danger process pull-right btn-md"><span class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
    </div>
{% endblock %}