{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-12"></div>
            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
                <div class="container-fluid">
                    <div class="row">
                        {% if teams %}
                            {% for team in teams %}
                                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                <h4>{{team.project}}<span class="pull-right">Team {{team.n}}</span></h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Names</th>
                                            <th><button type="button" href=#{{team.n}} class="btn btn-primary pull-right btn-xs" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down"></span></button></th>
                                        </tr>
                                    </thead>
                                    <tbody id="{{team.n}}" class="collapse in">
                                    {% for member in team.members %}
                                        <tr>
                                            <td>{{member}}</td>
                                            <td> </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            {% endfor %}
                        {% else %}
                        <div class="panel panel-default">
                          <div class="panel-heading">Please wait for the others to finish</div>
                          <div class="panel-body">The division of the projects will be displayed as soon as possible.</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-12"></div>
        </div>
    </div>
{% endblock %}