{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 scrollit">
            <h4>Projects</h4>
            <hr>
            <div class="projects">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
            <h4>Team and Choice</h4>
            <hr>
            {% from "includes/_formhelpers.html" import render_names, render_editor %}
            <form class="form-signin" method="POST", action="">
                <div class="form-group">
                    {{render_editor(form.teachers, class_="form-control")}}
                    <hr>
                    <div id="team_members">
                        {{render_names(form.teammembers, class_="form-control")}}
                    </div>
                    <div class="btn-group py-3 ml-3" role="group">
                        <button type="button" id="add" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
                        <button type="button" id="remove" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <hr>
                    <div class="choices">
                    </div>
                    {% include 'includes/_messages.html' %}
                    <hr>
                    <div class="btn-group py-3 mr-3 pull-right" role="group">
                        <button type="submit" class="btn btn-primary" id="submit-btn"><span class="glyphicon glyphicon-ok"></span></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
    </div>
{% endblock %}