<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <title>Minor Project Decision</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% include 'includes/_navbar.html' %}
        <div class="container-fluid">
                    {% block body %}{% endblock %}
        </div>
        {% include 'includes/_footer.html' %}
        <script type=text/javascript src="{{url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='homepage.js') }}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% block scrpt %}
        {% endblock%}
    </body>
</html>