{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8">
                {% include 'includes/_messages.html' %}
                {% from "includes/_formhelpers.html" import render_field %}
              <form class="form-signin", method="POST", action="">
                <h2 class="form-signin-heading">Please sign in</h2>
                <div class="form-group">
                    {{render_field(form.username, class_="form-control")}}
                </div>
                  <div class="form-group">
                    {{render_field(form.password, class_="form-control")}}
                </div>
                <br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
        </div>
    </div>
{% endblock %}